@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body1 {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-popup {
  font-size: 18px;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.popup-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
.hidden {
  display: none;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 12px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.toggle-link {
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.food-munch-logo {
    width: 80px;
    height: 70px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    margin-bottom: 2px;
    flex-wrap: wrap;
  }
.navbar-brand{
    margin-left:0;
    padding-left:0;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
    
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
    
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
  
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";

}

.nav-link:hover {
    background-color: #4CAF50;
    border-radius: 1vh;

}
.d-block{
    display:flex;
    flex-shrink: 1;
    background-size: cover;
    width: 200vh;
    height: 95vh;
}

.banner-section-bg-container {

    height: 100vh;
    background-size: cover;
}

.banner-caption {
    color: black;
    font-family:"Nunito Sans";
    font-style: italic bold;   
    font-size: 20px;
    font-weight: 300;
    background-color:#bef5fa ;
    width:cover ;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    
}
.sec-text{
    color: #070b61;
}
.search-container {
  flex: 2; /* takes more space to help center it */
  display: flex;
  justify-content: center; /* centers the search inside its flex area */
  align-items: left;
  text-align: left;
  margin-left: 130px;
}
.nav-buttons {
    display: flex;
    gap: 10px;
  }
  .search-container input {
    width: 500px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    background-color:#f1f1f1;
    text-align: left;
    
  }
  
  .search-container button {
    padding: 6px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #45a049;
  }
.login-btn {
    background-color: white;
    color: blue;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-family: Antonie;
    position: absolute; right: 150px;
  }
.login-btn:hover{
    background-color: #4CAF50;
    margin-top: 5px;
}


.custom-button {
    color: white;
    background-color: white;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Antonie;
    
}

.custom-outline-button {
 
    background-color: white;
    color: blue;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-family: Antonie;
    position: absolute; right: 0;
}
.custom-outline-button:hover{
    background-color: #4CAF50;
    margin-top: 5px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}
.wcu-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    }

.wcu-card-image1 {
    width: 150px;
    height: 200px;
}
.wcu-card-image1:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    }

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: #529ad1;
    font-family: italic;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}
.ribbon-bar {
    background-color:white;  /* Your desired ribbon color */
    color: #6d4c41;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
 
  .bg-section {
    background-color: #d0b200;
    background-size: cover;
    background-position: center;
    height: 500px; /* adjust as needed */
  }

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.follow-us-section {
    background-color: white;
  }
  .follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon {
    color: #d0b200;
    font-size: 35px;
  }
  .follow-icon-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

.navbar{
    height: 90px;
}
.fab {
    background-color: #faf7e8;
    width: 100px;
    height: 100px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.footer-section-mail-id {
    color: #fcad03;
}

.healthy-food-section-heading {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

@media screen and (max-width:991px){
    .custom-outline-button{
         display: flex;
         
    }
    .banner-section-bg-container{
        width: 70vh;
        height: 50vh;
        padding: 10px;
    }
    login-btn{
        width :80vh;
        height: 40vh;
        position: absolute; right: 0;
    }
    .d-block{
        width: 100%;
        height: 50vh;
        padding-left: 5px;
        justify-content: center;

    }
    .navbar{
        height: 120px;
    }
    .navbar-toggler{
        position: absolute; right: 0;
    }
}
@media screen and (max-width:767) {
    .nav-link{
        position: absolute;right: 0;
    }
    .logo1{
        width: 100px ;
        height: 50px;
    }
}